#####################################################################
# ADXL
#####################################################################

# follow https://www.klipper3d.org/Measuring_Resonances.html#bed-slinger-printers to setup the rpi as a mcu when using the direct wired adxl.

# configures the rpi as a mcu to read the adxl chip dat##££[mcu rpi]
##serial: /tmp/klipper_host_mcu

##[adxl345]
##cs_pin: rpi:None

##[resonance_tester]
##accel_chip: adxl345
##probe_points:
##    175, 175, 20  # puts the nozzle in the centre of a 350xx bed 20mm above the bed.

