# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

# based on https://github.com/bigtreetech/EBB/blob/master/EBB%20CAN%20V1.1%20and%20V1.2%20(STM32G0B1)/sample-bigtreetech-ebb-canbus-v1.2.cfg
# many of these settings were previously in extruder.cfg

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
#canbus_uuid: d4de76630432   old
#canbus_uuid: 4e2cfae5e7eb
canbus_uuid: 0820379a44a0

#[adxl345]
#cs_pin: EBBCan: PB12
#spi_bus: spi2_PB2_PB11_PB10
#axes_map: x,y,z

[extruder]
step_pin = EBBCan:PB14
dir_pin = !EBBCan:PA8
enable_pin = !EBBCan:PB6
gear_ratio = 50:8
microsteps = 16
rotation_distance = 17.42
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin = EBBCan: PB4
sensor_type = ATC Semitec 104NT-4-R025H42G
pullup_resistor = 2200
sensor_pin = EBBCan: PA3
min_temp = 0
max_temp = 270
pressure_advance = 0.0425
max_extrude_cross_section = 50.0
min_extrude_temp = 170
max_extrude_only_distance = 500
control = pid
pid_kp = 25.112
pid_ki = 2.886
pid_kd = 54.619



[tmc2209 extruder]
uart_pin: EBBCan: PB3
run_current: 0.650
stealthchop_threshold: 999999

[fan]
pin = EBBCan: PA5
kick_start_time = 0.5
off_below = 0.10


[heater_fan hotend_fan]
pin = EBBCan: PD3
heater = extruder
heater_temp = 50.0
max_power = 1.0
kick_start_time = 0.5

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3
