#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
[heater_bed]
heater_pin = PA3
sensor_type = Generic 3950
sensor_pin = PF3
max_power = 1
min_temp = 0
max_temp = 120
control = pid
pid_kp = 39.925
pid_ki = 1.394
pid_kd = 285.961



# ##  SSR Pin - HE1
# ##  Thermistor - TB
# heater_pin: PA3
# ## Use "Generic 3950"
# sensor_type: Generic 3950
# sensor_pin: PF3
# ##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
# max_power: 1
# min_temp: 0
# max_temp: 120

# PID section has been commented out here. It is saved by the printer into the main printer.cfg when running https://github.com/Klipper3d/klipper/blob/master/docs/Config_checks.md#calibrate-pid-settings
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769