# Added Klipper-Backup 8/2/26
 
[include mainsail.cfg]

# [delayed_gcode mesh]
#     gcode:
#      LOAD_MESH        

[mcu]
# run ls /dev/serial/by-id/ in ssh terminal to get the controller name 
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1F000A000550314D35323820-if00

# include all .cfg files in the machine folder
[include machine/*.cfg]

# include a single file in the macros folder that then imports all macros required
[include macros/macros.cfg]



## include klicky files via its include file.
##[include klicky/klicky-probe.cfg]

# see https://docs.mainsail.xyz/overview/features/exclude-objects
# enables the exclude objects facility in Mainsail. You must also add the enable object preprocessing in Moonraker
[exclude_object]

# Standard kinematics and settings for 350mm Voron 2.4
[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000             
## max_accel_to_decel: 1500
max_z_velocity: 30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 8

[force_move]
enable_force_move: True

[idle_timeout]
timeout: 1800



# Bed Mesh and Probe information is kept here so the update to probe Z offset works correctly.
[bed_mesh]


speed: 300
horizontal_move_z: 25

#	350mm build Mesh Sizes
mesh_min: 30, 30
mesh_max: 320,320
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
# Bed Mesh probe count set at 25 x 25 to make a very comprehensive bed mesh. Not to be run every print but run once and then include it in start print macro
probe_count: 5,5
algorithm: bicubic
mesh_pps: 2,2
## relative_reference_index: 312 #Update when changing probe_count, to ((x points * y points) - 1) / 2. (the center point)
bicubic_tension: 0.2 #added for thermal measure
move_check_distance: 3.0 #added for thermal measure
split_delta_z: 0.010 #added for thermal measure


        
        
        # Example of calling another macro/command
#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

# Commented out as our kits use the Unklicky probe for Z
# [safe_z_home]
# home_xy_position:175,175
# speed:100
# z_hop:25

[quad_gantry_level]
##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions

#  Gantry Corners for 350mm Build
#  Uncomment for 350mm build
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25

#Slightly modified based on jktightwad Klipper Config. runs faster and gives better end results than slower probing
speed: 100
horizontal_move_z: 35
retries: 5
retry_tolerance: 0.03
max_adjust: 15






#####################################################################
#   Add variables file for storing variables to disk
#####################################################################

[save_variables]
filename: ~/custom-variables.cfg




[quad_gantry_level]
horizontal_move_z: 35

#####################################################################
#   Probe modified for Revo EZ Probe
#####################################################################

[probe] ## Other parameters in config.cfg
pin: EBBCan: PB8
x_offset: 0.0
y_offset: 0.0
speed: 5.0 #   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 2
sample_retract_dist: 3.0
samples_tolerance_retries: 1
lift_speed: 10
activate_gcode:
    G4 P200 ;Wait 200ms
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=0.4
deactivate_gcode:
    {% set run_current = printer.configfile.config['tmc2209 stepper_z'].run_current | float %}
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={run_current}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={run_current}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={run_current}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={run_current}
z_offset = 0.000


#####################################################################
#   Probe (original settings)
#####################################################################

# 20/10/22 put the probe section back into the main printer.cfg so that it saves properly when updating probe offset from mainsail.

# [probe]

# Diag port for the endstop when using Klicky
#pin: !EBBCan: PB5


#x_offset: 0
#y_offset: 19.75
#z_offset: 15 #6.6 #15 #commented out as this is saved from mainsail save to probe into the config below.
#speed: 50 #4.0
#lift_speed: 50 #8.0
#samples: 3 #5
#samples_result: median
#sample_retract_dist: 5 #5
#samples_tolerance: 0.05 #0.01 #0.007
#samples_tolerance_retries: 10

# Some values from our testing left below here. You should run PID tuning and Endstop calculations yourself before printing for the first time

[include AFC/*.cfg]
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.925
#*# pid_ki = 1.394
#*# pid_kd = 285.961
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.885
#*# pid_ki = 1.896
#*# pid_kd = 88.333
#*#
#*# [stepper_z]
#*# position_endstop = -2.145
#*#
#*# [probe]
#*# z_offset = -0.101
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.013125, -0.038125, -0.120625, -0.129375, -0.102500
#*# 	-0.013750, -0.080625, -0.152500, -0.167500, -0.093750
#*# 	0.010000, -0.058125, 0.002500, -0.104375, -0.021875
#*# 	-0.005000, -0.031875, 0.011875, -0.054375, -0.050000
#*# 	-0.023750, -0.051875, -0.110625, -0.165000, -0.085625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 320.0
#*# min_y = 30.0
#*# max_y = 320.0



[include shell_command.cfg]
